.row {
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: 100%;
  text-align: center;
  border: 1px solid rgb(33, 76, 206);
  margin-top: 25px;
}

p {
  word-break: break-word;
  padding-left: 10px;
  padding-right: 10px;
}
