.example-card {
  max-width: 300px;
  max-height: 600px;
  background: linear-gradient(to top, rgb(49, 80, 173), rgb(16, 53, 165));
  margin: 30px;
  box-shadow: 10px 10px 7px lightgray;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.historia {
  text-align: center;
}

img {
  max-height: 360px;
}
