<br />
<div class="historia"><h1>Sobre nossa história</h1></div><hr><br>
<div class="cards">
  <mat-card class="example-card" *ngFor="let value of cards">
    <mat-card-header>
      <mat-card-title>{{ value.title }}</mat-card-title>
      <mat-card-subtitle>{{ value.continuation }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="value.imageUrl"
    />
    <mat-card-content>
      <p>
        {{value.text}}
      </p>
    </mat-card-content>
    <hr />
  </mat-card>
</div>
