<div class="total">
  <div class="cima">
    <div class="add">
      <button (click)="goToAdd()">Adicionar produto</button>
    </div>
    <div class="nome"><h1>Products</h1></div>
    <div class="cart"><button (click)="goToCart()">Carrinho</button></div>
  </div><hr>
  <div class="baixo">
    <div class="produto" *ngFor="let value of products">
      <img class="imagem" [src]="value.imageUrl">
      <div class="specs">
        <div class="titles">
          <h3>{{ value.name }}</h3>
          <h3 id="price">R$: {{ value.price }}</h3>
        </div>
        <div class="resto">
          <p>{{ value.departament }}</p>
          <p>{{ value.comment }}</p>
        </div>
      </div>
      <div class="botoes">
        <button (click)="addToCart(value, value.price)">Buy</button><br />
        <button (click)="editProduct(value.id)">Edit</button><br />
        <button (click)="deleteProduct(value.id)">Delete</button>
      </div>
    </div>
    <div class="nada"></div>
  </div>
</div>
