.total {
  height: 101.6%;
  background-color: transparent;
  border: 1px solid royalblue;
  margin: 0;
  width: 250px;
  position: fixed;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 95%;
  height: 160px;
  background-image: url("https://st3.depositphotos.com/3284149/19589/v/600/depositphotos_195897564-stock-illustration-mobile-phone-repair-logo-template.jpg");
  background-size: cover;
  padding-bottom: 30px;
  margin: 5px;
  margin-top: 35px;
}

.barrinha {
  width: 95%;
  margin: 5px;
  height: 1.5px;
  background-image: linear-gradient(to bottom, DodgerBlue, RoyalBlue);
}

.opcao {
  width: 95%;
  text-align: center;
  height: 100px;
  background-color: DodgerBlue;
  margin: 5px;
  color: white;
  transition: all 1s;
}

.opcao:hover {
  transition: all 0.3s;
  box-shadow: inset 0 0 9px 10px royalblue;
}
.opcao h2 {
  padding-top: 13%;
  font-size: 23px;
  font-weight: 300;
}
